In [1]:
!pip install language-tool-python

Requirement already satisfied: language-tool-python in c:\users\hp\anaconda3\lib\site-packages (2.7.1)
Requirement already satisfied: tqdm in c:\users\hp\anaconda3\lib\site-packages (from language-tool-python) (4.64.0)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (from language-tool-python) (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\hp\anaconda3\lib\site-packages (from requests->language-tool-python) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests->language-tool-python) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests->language-tool-python) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests->language-tool-python) (2022.6.15)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\lib\site-packages (from tqdm->language-tool-python) (0.4.4)

In [2]:
#Import libraries/modules
import language_tool_python as lt
from textblob import TextBlob
tool = lt.LanguageToolPublicAPI('en-US')

import pandas as pd
import numpy as np

In [3]:
#import dataset
data = pd.read_csv('review_data.csv')
pd.set_option("display.max_column", None)
display(data.head())

,text,star,app_id,reviewDate
0,Anathi Khanyile,5,com.fingersoft.hillclimb,18/03/21
1,Tony bahut funny hai Hill climbing racing my f...,5,com.fingersoft.hillclimb,18/03/21
2,Teturwu,1,com.fingersoft.hillclimb,18/03/21
3,Hoooooooooooyaaaaaaaaa what a game hoooooooooo...,5,com.fingersoft.hillclimb,18/03/21
4,This game is nice,5,com.fingersoft.hillclimb,18/03/21

In [4]:
df = data[['text']]
df.head()

                                                text
0                                    Anathi Khanyile
1  Tony bahut funny hai Hill climbing racing my f...
2                                            Teturwu
3  Hoooooooooooyaaaaaaaaa what a game hoooooooooo...
4                                  This game is nice

In [5]:
def fix_spelling_and_grammar(data):
    i = 0
    for line in data:
            matches = tool.check(line)
            tb = TextBlob(str(matches))
            i = i + len(tb)
            if i > 0:
                return "Incorrect sentence"
            else:
                return "Correct Sentence"

In [6]:
mistakes = fix_spelling_and_grammar(df.text)

In [7]:
df['grammer']= mistakes
df

<ipython-input-7-68661f5eab30>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['grammer']= mistakes

                                                    text             grammer
0                                        Anathi Khanyile  Incorrect sentence
1      Tony bahut funny hai Hill climbing racing my f...  Incorrect sentence
2                                                Teturwu  Incorrect sentence
3      Hoooooooooooyaaaaaaaaa what a game hoooooooooo...  Incorrect sentence
4                                      This game is nice  Incorrect sentence
...                                                  ...                 ...
29995                                 Plz my Vidos viral  Incorrect sentence
29996                                               Nice  Incorrect sentence
29997                  Disturbing too much as YouTube ad  Incorrect sentence
29998                                      Koub valo vai  Incorrect sentence
29999                          I want to grow my account  Incorrect sentence

[30000 rows x 2 columns]

In [9]:
def fix_spelling(text):
    try:
        text =  tool.correct(text)
        b = TextBlob(text)
        return str(b.correct())
    except:
        return text

In [11]:
correct_text = fix_spelling(df.text)

In [12]:
df["corrected_text"] = correct_text
df.head()

<ipython-input-12-ecb59157ba6c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["corrected_text"] = correct_text

,text,grammer,corrected_text
0,Anathi Khanyile,Incorrect sentence,Anathi Khanyile
1,Tony bahut funny hai Hill climbing racing my f...,Incorrect sentence,Tony bahut funny hai Hill climbing racing my f...
2,Teturwu,Incorrect sentence,Teturwu
3,Hoooooooooooyaaaaaaaaa what a game hoooooooooo...,Incorrect sentence,Hoooooooooooyaaaaaaaaa what a game hoooooooooo...
4,This game is nice,Incorrect sentence,This game is nice